@model LoLStats.Web.ViewModels.Champions.ChampionsListViewModel
@{
    this.ViewData["Title"] = "All Champions";
}

<div class="container-fluid bg-gray-200">

    <div class="container-fluid row col-md-6">
        <h1 class="h1 font-weight-bolder">All Champions:</h1>
    </div>
    <div class="row col-lg-8 container-fluid bg-gray-400 table-bordered">
        @foreach (var champion in this.Model.Champions)
        {
        <div class="img-with-text col-md-2">
            <a asp-controller="Champions" asp-action="ById" asp-route-id="@champion.Id"><img src="@champion.ImageUrl" alt="champion-icon" width="80" height="80" class="img-thumbnail img-fluid"></a>
            <h6 class="text-dark font-weight-bold">@champion.Name</h6>
        </div>
        }
    </div>

</div>